// area de variables

$contenedor-ancho: 100%;
$contenedor-largo: 80px;
$contenedor-padding: 20px;
$color-amarillo: rgb(247, 182, 23);
$container-margin: 10px;
$color-negro: rgb(43, 43, 43);
$margen-abajo: 30px;

$fuente-letra: 13px Arial;

$subtitle-font: 34px Helvetica;
$color-blanco: white;
$texto-centro: center;

// sistema de grid
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row::before, .row::after {
  content: " ";
  display: table;
  margin: 0;
}

.row::after {
  clear: both;
}

[class*="col-"] {
  min-height: 8px;
  padding: 12px;
  float: left;
}

.col-1 {
  /* (1/12)*100 */
  width: 8.333%;
}

.col-2 {
  /* (2/12)*100 */
  width: 16.666%;
}

.col-3 {
  /* (3/12)*100 */
  width: 25%;
}

.col-4 {
  /* (4/12)*100 */
  width: 33.333%;
}

.col-5 {
  /* (5/12)*100 */
  width: 41.666%;
}

.col-6 {
  /* (6/12)*100 */
  width: 50%;
}

.col-7 {
  /* (7/12)*100 */
  width: 58.333%;
}

.col-8 {
  /* (8/12)*100 */
  width: 66.666%;
}

.col-12 {
  /* (12/12)*100 */
  width: 100%;
}
// para los @media
$movil: "(min-width: 300px) and (max-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
@media (min-width:769px) {
    main {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media (min-width:669px) and (max-width:768px) {
    main {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }
    #secondary-content {
        grid-column: 1/3;
    }
}

@media (min-width:0px) and (max-width:668px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
